.button {
  background-color: $color-primary;
  color: $color-contrast;

  font-family: $oswald;
  text-transform: uppercase;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-height: 40px;
  border: 0;

  transition: background-color 0.3s ease-in;

  &:hover,
  &:focus {
    background-color: $color-primary-dark;
  }

  &:active {
    color: rgba($color-contrast, 0.3%);
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.button--simple {
  background-color: $color-secondary;
  color: $color-small-txt;

  &:hover,
  &:focus {
    background-color: $color-secondary-dark;
  }

  &:active {
    color: rgba($color-small-txt, 0.3%);
  }
}
