.button {
  background-color: $color-primary;
  color: $color-contrast;

  font-family: $oswald;
  text-transform: uppercase;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 280px;
  min-height: 40px;
  border: 0;

  @include font-prop(16px, 0);

  &:hover,
  &:focus {
    background-color: $color-primary-dark;
  }

  &:active {
    color: rgba($color-contrast, 0.3%);
  }
}

.button--simple {
  background-color: $color-secondary;
  color: $color-small-txt;

  &:hover,
  &:focus {
    background-color: $color-secondary-dark;
  }

  &:active {
    color: rgba($color-small-txt, 0.3%);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
