.catalog {
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.catalog__wrapper {
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
  }
}

.catalog__title {
  color: $color-lg-txt;
  margin: 0;
  margin-bottom: 41px;
}

.catalog__list {
  display: grid;

  @include list-reset;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 60px;
    row-gap: 59px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 63px;
  }
}

.catalog__item {
  &--more {
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    padding-top: 26px;
    padding-bottom: 25px;

    @media (min-width: $tablet-width) {
      justify-content: flex-end;

      width: 324px;
      border: 2px solid $color-secondary;
      padding-bottom: 36px;
      padding-left: 39px;
      padding-right: 37px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
    }
  }
}

.catalog__title-link {
  color: #111111;

  font-family: $oswald;

  margin-bottom: 8px;

  @include font-prop(16px, 20px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin-bottom: 24px;

    @include font-prop(20px, 22px);
  }
}

.catalog__txt {
  margin: 0;
  margin-bottom: 21px;

  @include font-prop (12px, 16px);

  @media (min-width: $tablet-width) {
    width: 167px;
    margin-bottom: 86px;

    @include font-prop(16px, 18px);
  }
}

.catalog__link {
  @include font-prop(16px, 0);

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
