.contacts {
  background-color: $color-secondary;

  display: grid;
  justify-items: center;

  &--index {
    background-color: $color-contrast;
  }
}

.contacts__txt-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 27px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 1024px;
    padding-top: 64px;
    padding-bottom: 57px;
    padding-left: 71px;
    padding-right: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-left: 76px;
    padding-right: 89px;
  }
}

.contacts__title {
  color: #111111;

  font-family: $oswald;
  text-transform: uppercase;

  width: 140px;
  margin: 0;

  @include font-prop(16px, 20px);

  @media (min-width: $tablet-width) {
    @include font-prop(20px, 25px);

    width: 171px;
  }

  @media (min-width: $desktop-width) {
    width: 163px;
  }
}

.contacts__address {
  line-height: 20px;

  width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: end;

    width: 159px;
  }

  @media (min-width: $desktop-width) {
    width: 155px;
  }

  span {
    @media (min-width: $tablet-width) {
      display: block;
      padding-top: 20px;
    }
  }
}

.contacts__map-wrapper img {
  display: block;
}
