.copyright {
  justify-self: end;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 281px;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.copyright__link {
  color: $color-small-txt;

  @include font-prop (16px, 18px);

  &:active {
    color: rgba($color-small-txt, 0.3%);
  }
}
