.footer__bottom-row {
  background-color: $color-secondary;
}

.footer__wrapper {
  display: grid;
  justify-items: center;

  padding-top: 38px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 39px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.footer__logo-link {
  width: 128px;
  height: 24px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    justify-self: start;
    margin-bottom: 0;
  }

  &[href] {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
