.goals__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include wrapper-mobile;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include wrapper-tablet;

    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    @include wrapper-desktop;

    flex-direction: row;
    column-gap: 80px;
  }
}
