.goal {
  background-color: $color-secondary;

  padding-top: 21px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 77px;
    padding-bottom: 57px;
    padding-left: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-left: 52px;
    padding-right: 56px;
  }
}

.goal__title {
  color: $color-lg-txt;

  font-family: $oswald;

  @include font-prop(24px, 37px);
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    @include font-prop(36px, 36px);
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }
}

.goal__txt {
  border-bottom: 1px solid $color-secondary-border;
  padding-bottom: 22px;
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    width: 60%;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 26px;
  }

  br {
    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.goal__link {
  color: $color-lg-txt;

  font-family: $oswald;

  @include font-prop(16px, 16px);
  text-transform: uppercase;

  &:active {
    color: rgba($color-lg-txt, 0.3%);
  }

  @media (min-width: $tablet-width) {
    @include font-prop(20px, 30px);
  }
}
