.header {
  color: $color-lg-txt;

  @include font-prop(20px, 20px);
  font-weight: 500;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-prop(18px, 24px);
  }

  @media (min-width: $desktop-width) {
    @include font-prop(20px, 30px);
  }
}

.header__wrapper {
  display: grid;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 3fr;
  }
}

.header__navigation {
  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}

.header__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

