.header {
  color: $color-lg-txt;

  @include font-prop(20px, 20px);
  font-weight: 500;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-prop(18px, 24px);
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    @include font-prop(20px, 30px);
  }
}

.header__wrapper {
  position: relative;

  display: grid;

  @media (max-width: $mobile-width-only) {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: min-content 1fr;

    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.header__logo-link {
  display: inline-flex;
  justify-self: center;

  width: 320px;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 174px;
    padding: 0;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    padding-top: 6px;
  }

  &[href] {
    cursor: pointer;
  }
}

.header__logo {
  display: block;

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.header__navigation {
  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}

.header__navigation--closed .site-list__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.header__navigation--nojs .header__toggle {
  display: none;
}

.header__navigation--nojs .site-list__item {
  display: flex;
}

// не уверена могу ли совмещать селекторы разных блоков

@media (min-width: $desktop-width) {
  .header__list--index .site-list__link {
    color: $color-contrast;

    &[href]:hover,
    &[href]:focus {
      color: rgba($color-contrast, 0.6%);
    }

    &[href]:active {
      color: rgba($color-contrast, 0.3%);
    }

    &:not([href]) {
      border-bottom-color: $color-contrast;
    }
  }
}
