.info__title {
  color: $color-lg-txt;

  font-family: $oswald;
  font-weight: 400;

  @include font-prop(36px, 40px);
}

.info__list {
  @include list-reset;
}

.info__item {
  padding-bottom: 24px;
}
