.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-color: $color-secondary;
    flex-direction: column;
    align-items: center;

    width: 324px;
    padding-bottom: 40px;
    padding-left: 39px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product__img-link {
  width: 140px;
  height: 144px;

  img {
    display: block;
  }
}

.product__content-wrapper {
  width: 140px;
  padding-top: 20px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 33px;
  }
}

.product__title-link {
  color: #222222;
  text-align: center;

  display: block;
  padding-right: 40px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 159px;
    padding-right: 0;
    margin: auto;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.product__title {
  font-family: $oswald;

  margin: 0;

  @include font-prop(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-prop(20px, 24px);
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product__info {
  width: 100%;
  border-collapse: collapse;

  @include font-prop(12px, 14px);

  @media (min-width: $tablet-width) {
    @include font-prop(16px, 29px);
  }

  tr {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      border-bottom: 1px solid #cdcdcd;
    }
  }
}

.product__link {
  @include font-prop(16px, 0);

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
