.product {
  position: relative;

  width: 100%;
  padding-bottom: 23px;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    background-color: $color-secondary;

    position: relative;

    flex-direction: column;
    align-items: center;

    width: 324px;
    padding-top: 140px;
    padding-bottom: 38px;
    padding-left: 39px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 143px;
  }
}

.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;

    padding: 0;
    margin: 0;
  }
}

.product__img-link {
  width: 140px;
  height: 144px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: calc(100% - 127px);

    width: 324px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    bottom: calc(100% - 120px);
  }
}

.product__img {
  display: block;

  transition: all 0.4s ease-out;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: $tablet-width) {
    width: 324px;
  }
}

.product__content-wrapper {
  width: 140px;
  padding-top: 20px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    text-align: center;

    width: 100%;
    margin-bottom: 33px;
  }
}

.product__title-link {
  color: #222222;

  display: block;
  padding-right: 40px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 159px;
    padding-right: 0;
    margin: auto;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.product__title {
  font-family: $oswald;

  margin: 0;

  @include font-prop(16px, 20px);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-prop(20px, 24px);
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product__info {
  width: 100%;
  border-collapse: collapse;

  @include font-prop(12px, 14px);

  @media (min-width: $tablet-width) {
    @include font-prop(16px, 29px);
  }

  tr {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      border-bottom: 1px solid $color-secondary-border-dark;
    }
  }
}

.product__link {
  @include font-prop(16px, 0);

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
