.program {
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.program__wrapper {
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 82px;
  }
}

.program__title {
  color: $color-lg-txt;

  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.program__txt {
  color: $color-lg-txt;

  font-family: $oswald;
  text-transform: uppercase;

  padding-right: 10px;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 365px;
    padding-left: 40px;
    padding-right: 0;
    margin-bottom: 66px;

    @include font-prop(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.program__form,
.program__input {
  font-family: $oswald;
  text-transform: uppercase;

  @include font-prop(16px, 18px);

  @media (min-width: $tablet-width) {
    @include font-prop (20px, 30px);
  }
}

.program__form {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.program__top-row {
  display: grid;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;

    margin-bottom: 49px;
  }
}

.program__fieldset {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &--goal {
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--contacts {
    display: grid;
    margin-bottom: 15px;


    @media (min-width: $tablet-width) {
      margin-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr;
      column-gap: 78px;
    }

    .program__label {
      margin-right: 11px;

      @media (min-width: $tablet-width) {
        margin-right: 20px;
      }
    }
  }

  &--comment {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 46px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }
  }

  &--extra {
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 42px;
    }

    .program__fieldset-title {
      @media (min-width: $tablet-width) {
        margin-bottom: 55px;
      }
    }
  }
}

.program__fieldset-title {
  color: $color-lg-txt;
  text-transform: none;

  margin-bottom: 31px;

  @include font-prop(24px, 26px);

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;

    @include font-prop(36px, 36px);
  }
}

.program__field {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.program__label {
  flex-shrink: 0;
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    margin-right: 16px;
  }
}

.program__input {
  flex-grow: 1;

  min-width: 172px;
  height: 45px;
  border: 1px solid #e7e7e7;
  padding-left: 14px;
  padding-right: 13px;

  @media (min-width: $tablet-width) {
    height: 52px;
    padding-left: 18px;
    padding-right: 18px;
  }

  &--textarea {
    width: 100%;
    height: 150px;
    padding-top: 13px;
    padding-bottom: 13px;

    resize: none;

    @media (min-width: $tablet-width) {
      min-height: 174px;
    }

    &:focus {
      padding-top: 12px;
    }
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
    padding-left: 14px;

    outline: none;
  }

  &::placeholder {
    color: $color-small-txt;
    opacity: 1;
  }

  &[type="number"] {
    appearance: textfield;
    padding-left: 17px;
    padding-right: 17px;

    @media (min-width: $tablet-width) {
      padding-left: 21px;
      padding-right: 21px;
    }
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

.program__list {
  @include list-reset;

  &--goals {
    color: #222222;

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 26px;
    padding-bottom: 28px;

    @media (min-width: $tablet-width) {
      border: 1px solid #e7e7e7;
    }
  }

  &--extra {
    color: $color-lg-txt;
    display: grid;

    padding-top: 8px;

    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.program__item:not(:last-child) {
  padding-bottom: 24px;
}

.program__last-row {
  display: grid;
  justify-items: center;
  row-gap: 21px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    column-gap: 21px;
  }

  @media (min-width: $desktop-width) {
    justify-items: stretch;
    column-gap: 82px;
  }
}

.program__submit {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    min-width: 282px;
    height: 52px;
  }
}

.program__legend {
  color: $color-lg-txt;

  font-family: $arial;
  text-transform: none;

  @include font-prop(14px, 16px);

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
