.program {
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.program__wrapper {
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 82px;
  }
}

.program__title {
  color: $color-lg-txt;

  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.program__txt {
  color: $color-lg-txt;

  font-family: $oswald;
  text-transform: uppercase;

  padding-right: 10px;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 365px;
    padding-left: 40px;
    padding-right: 0;
    margin-bottom: 66px;

    @include font-prop(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.program__form,
.program__input {
  font-family: $oswald;
  text-transform: uppercase;

  @include font-prop(16px, 18px);

  @media (min-width: $tablet-width) {
    @include font-prop (20px, 30px);
  }
}

.program__form {
  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.program__top-row {
  display: grid;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;

    margin-bottom: 49px;
  }
}

.program__fieldset {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &--goal {
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
      margin-bottom: 73px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--contacts {
    display: grid;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 46px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr;
      column-gap: 78px;

      margin-bottom: 48px;
    }

    .program__fieldset-title {
      position: relative;

      width: 100%;

      &::before {
        content: "";
        background-color: $color-primary;

        position: absolute;
        top: 16px;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        z-index: -1;

        width: 100vw;
        height: 2px;

        @media (min-width: $tablet-width) {
          top: 22px;
        }
      }

      span {
        background-color: $color-contrast;

        display: inline-flex;

        width: 221px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;

        @media (min-width: $tablet-width) {
          min-width: 592px;
          padding-left: 40px;
          margin-left: -40px;
        }
      }
    }

    .program__field {
      position: relative;
    }

    .program__label {
      margin-right: 12px;

      @media (min-width: $tablet-width) {
        margin-right: 22px;
      }
    }

    .program__input:focus + .program__icon {
      fill: $color-primary;
    }

    .program__input:invalid + .program__icon {
      fill: $color-error;
    }
  }

  &--comment {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 46px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 48px;
    }

    .program__fieldset-title {
      position: relative;

      width: 100%;

      &::before {
        content: "";
        background-color: $color-primary;

        position: absolute;
        top: 14px;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        z-index: -1;

        width: 100vw;
        height: 2px;

        overflow: hidden;

        @media (min-width: $tablet-width) {
          top: 22px;
        }
      }

      span {
        background-color: $color-contrast;

        padding-left: 20px;
        padding-right: 22px;
        margin-left: -20px;

        @media (min-width: $tablet-width) {
          padding-left: 40px;
          padding-right: 39px;
          margin-left: -40px;
        }

        @media (min-width: $desktop-width) {
          padding-right: 42px;
        }
      }
    }
  }

  &--extra {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 41px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 48px;
    }

    .program__fieldset-title {
      position: relative;

      width: 100%;

      @media (min-width: $tablet-width) {
        margin-bottom: 55px;
      }

      &::before {
        content: "";
        background-color: $color-primary;

        position: absolute;
        top: 15px;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        z-index: -1;

        width: 100vw;
        height: 2px;

        @media (min-width: $tablet-width) {
          top: 23px;
        }
      }

      span {
        background-color: $color-contrast;

        padding-left: 20px;
        padding-right: 24px;
        margin-left: -21px;

        @media (min-width: $tablet-width) {
          padding-left: 40px;
          padding-right: 41px;
          margin-left: -40px;
        }
      }
    }
  }
}

.program__icon {
  position: absolute;

  &--mail {
    top: 17px;
    right: 17px;

    @media (min-width: $tablet-width) {
      top: 20px;
      right: 15px;
    }

    @media (min-width: $desktop-width) {
      right: 21px;
    }
  }

  &--phone {
    top: 14px;
    right: 14px;

    @media (min-width: $tablet-width) {
      top: 17px;
      right: 13px;
    }

    @media (min-width: $desktop-width) {
      right: 17px;
    }
  }
}

.program__fieldset-title {
  color: $color-lg-txt;
  text-transform: none;

  margin-bottom: 31px;

  @include font-prop(24px, 26px);

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;

    @include font-prop(36px, 36px);
  }
}

.program__field {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.program__label {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;

  margin-right: 15px;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }
}

.program__input {
  flex-grow: 1;

  min-width: 172px;
  height: 45px;
  border: none;
  outline: 1px solid #e7e7e7;
  padding-left: 14px;
  padding-right: 12px;


  &:hover {
    outline-color: #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline: 2px solid $color-error;
  }

  &::placeholder {
    color: $color-small-txt;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    padding-left: 18px;
    padding-right: 18px;
  }

  &--textarea {
    width: 100%;
    height: 150px;
    padding-top: 15px;
    padding-bottom: 13px;

    resize: none;

    @media (min-width: $tablet-width) {
      min-height: 174px;
      padding-top: 11px;
    }
  }

  &[type="number"] {
    appearance: textfield;
    padding-left: 17px;
    padding-right: 17px;

    @media (min-width: $tablet-width) {
      padding-left: 21px;
      padding-right: 21px;
    }
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

.program__list {
  @include list-reset;

  &--goals {
    color: #222222;

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 21px 20px 20px;
    margin: 0 -20px;

    @media (min-width: $tablet-width) {
      border: 1px solid #e7e7e7;
      padding-top: 23px;
      padding-left: 27px;
      padding-right: 27px;
      margin: 0;
    }
  }

  &--extra {
    color: $color-lg-txt;
    display: grid;

    padding-top: 3px;

    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
      row-gap: 19px;

      padding-top: 2px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 80px;
    }
  }
}

.program__item:not(:last-child) {
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }
}

.program__input--radio + .program__label::before {
  content: "";
  background-color: $color-contrast;

  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 21px;
  }
}

.program__input--radio:checked + .program__label::before {
  background-image: radial-gradient($color-primary 0, $color-primary 6.75px, $color-contrast 6.75px, $color-contrast 100%);

  @media (min-width: $tablet-width) {
    background-image: radial-gradient($color-primary 0, $color-primary 9px, $color-contrast 9px, $color-contrast 100%);
  }
}

.program__input--checkbox + .program__label::before {
  content: "";
  background-color: $color-contrast;

  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
}

.program__input--checkbox:checked + .program__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.program__input + .program__label:hover::before {
  border-color: #bababa;
}

.program__input + .program__label:active::before {
  opacity: 0.3;
}

.program__input:disabled + .program__label,
.program__input:disabled + .program__label::before {
  opacity: 0.3;
}

.program__last-row {
  display: grid;
  justify-items: center;
  row-gap: 21px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    column-gap: 61px;
  }

  @media (min-width: $desktop-width) {
    justify-items: stretch;
    column-gap: 82px;
  }
}

.program__submit {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    min-width: 282px;
    height: 52px;
  }
}

.program__legend {
  color: $color-lg-txt;

  font-family: $arial;
  text-transform: none;

  @include font-prop(14px, 16px);

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
