.promo {
  background-color: $color-primary;
  background-image:
    linear-gradient(0deg, $color-contrast, $color-contrast 16%, transparent 16%),
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(0deg, $color-contrast, $color-contrast 38%, $color-primary 38%);

  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(0deg, $color-contrast, $color-contrast 16%, transparent 16%),
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(0deg, $color-contrast, $color-contrast 38%, $color-primary 38%);
  }

  color: $color-contrast;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    background-image: none;
    color: $color-lg-txt;
  }

  &::before {
    content: "";
    background-color: $color-primary;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }

    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    z-index: -1;

    display: none;

    max-width: 900px;
    height: 694px;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.promo__wrapper {
  text-align: center;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 27px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    text-align: left;
    align-items: flex-start;
    padding-top: 41px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 566px;
    padding-top: 93px;
    margin-bottom: 80px;
  }
}

.promo__title {
  max-width: 414px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    margin-left: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    margin-left: 80px;
  }
}

.promo__tagline {
  font-family: $oswald;
  line-height: 14px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include font-prop (20px, 20px);

    margin-bottom: 49px;
    margin-left: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    margin-left: 80px;
  }
}

.promo__img-wrapper {
  width: 280px;
  height: 270px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: -1;

    order: 1;

    width: 709px;
    height: auto;
    margin-top: -83px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: calc(50% - 163px);

    width: 552px;
  }
}

.promo__img {
  display: block;

  @media (min-width: $tablet-width) {
    width: 709px;
  }
}

.promo__link {
  min-width: 244px;

  @media (min-width: $tablet-width) {
    min-height: 54px;
    margin-left: 82px;

    @include font-prop(20px, 0);
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
