.site-list {
  font-family: $oswald;

  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.site-list__item {
  display: flex;
  justify-content: center;

  border-top: 1px solid #e6e6e6;
  padding-top: 22px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    border-top: none;
    margin-left: 35px;
  }
}

.site-list__link {
  color: inherit;

  &[href]:hover,
  &[href]:focus {
    color: rgba($color-lg-txt, 0.6%);
  }

  &[href]:active {
    color: rgba($color-lg-txt, 0.3%);
  }

  &:not([href]) {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $color-primary;
      padding-bottom: 6px;
    }
  }
}
