.site-list {
	font-family: $oswald;
}

.site-list__item {
	padding-bottom: 24px;
}

.site-list__link {
	color: inherit;

	&[href]:hover,
	&[href]:focus {
		color: rgba($basic_black, 0.6%);
	}

	&[href]:active {
		color: rgba($basic_black, 0.3%);
	}

	&:not([href]) {
		border-bottom: 2px solid $basic_green;
	}
}
