.site-list {
  font-family: $oswald;

  @include list-reset;
}

.site-list__item {
  border-top: 1px solid #e6e6e6;
  padding-top: 22px;
  padding-bottom: 24px;
}

.site-list__link {
  color: inherit;

  &[href]:hover,
  &[href]:focus {
    color: rgba($color-lg-txt, 0.6%);
  }

  &[href]:active {
    color: rgba($color-lg-txt, 0.3%);
  }

  &:not([href]) {
    border-bottom: 2px solid $color-primary;
  }
}
