.social {
  display: flex;
  column-gap: 27px;

  border-top: 1px solid $color-secondary-border;
  border-bottom: 1px solid $color-secondary-border;
  padding-top: 20px;
  padding-bottom: 21px;
  margin: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
