@mixin font-prop($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

@mixin list-reset {
  padding: 0;
  margin: 0;

  list-style: none;
}

@mixin wrapper-mobile {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin wrapper-tablet {
  width: 768px;
  padding-left: 30px;
  padding-right: 30px;
}

@mixin wrapper-desktop {
  width: 1440px;
  padding-left: 110px;
  padding-right: 110px;
}
