// Цвета

$color-primary: #68b738;
$color-primary-dark: #5eaa2f;

$color-secondary: #f2f2f2;
$color-secondary-dark: #ebebeb;
$color-secondary-border: #d9d9d9;

$color-contrast: #ffffff;

$color-lg-txt: #000000;
$color-small-txt: #444444;


// #111111 #eaeaea #222222 #e6e6e6 #cdcdcd #d9d9d9 #444444

// Шрифт

$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;
