// Цвета

$basic_black: #000000;
$basic_black-2: #111111;
$basic_grey: #f2f2f2;
$basic_green: #68b738;
$basic_green-2: #5eaa2f;
$basic_white: #ffffff;

$special_grey-2: #ebebeb;
$special_grey-3: #e6e6e6;
$special_grey-4: #d9d9d9;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;

// Шрифт

$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;
